.avatarImg {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.hr {
    color: #fff;
    background-color:#fff;
    height: 2px;
    border: none;
    margin-top: -6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.cardContent {
    text-align: center;
}

.cardTitle {
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-overflow: ellipsis;
}

.cardDescription {
    color: gray;
    width: 250px;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-overflow: ellipsis;
}

.cardContent {
    border-radius: 8px;
    background: linear-gradient(hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 20%,
     hsl(0 0% 0% / 1));
}

.cardTitle::after {
    transition: transform 500ms ease;
}

.cardTitle::after {
    transform: scaleX(1);
}